<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic.html::setContent(~{this::content})}">

<!-- 이렇게 쓰려면 위에 함수 setContent에 (~{::#con})로 써야함 
<span id="con">
이 내용이 아까 거기(index.html)에 나오게 만들거임
</span>
-->

<th:block th:fragment="content">
  <h1>방명록 목록</h1>
  <br>
  <form action="result" method="post">
	  페이지: <input type="number" name="page"> <br>
	  몇개씩: <input type="number" name="count"> <br>
	  <input type="submit" value="내놔">
  </form>
</th:block>

</th:block>
</html>